.slider-frame{
    display: none;
    
}

.giftcard img{
    box-shadow: 3px 3px 3px 3px grey;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 150px;
    height: 150px;
    margin-right: 5px;
    }

#gaming-banner{
    padding: 10px;
    width: 100%;
}

/*Quienes somos*/

#section-qs{
    background-color: black;
    padding: 2px;
}



/*Esports*/

.video{
    width: 90%;
    margin: 10px;
}
.img-esports{
    width: 90%;
    height: 300px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 20px;
}

.contacto1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-image: url(../img/fondocontacto.jpg);
    color: $colordos;
}

.contacto2{
    background-color: black;
    display: block;
    
}


.contacto2 img{
    width: 100%;
    
}

.mapa{
    display: none;
    
}

.torneo1{
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: 20px;
   
}

.torneo1:hover{
    background-color: rgb(224, 199, 153);
    
    
}

.torneo2{
    @extend .torneo1;
    &:hover{
        background-color: greenyellow;
    }
}

.torneo3{
    @extend .torneo1;
    &:hover{
        background-color: orangered;
    }
}


.redes-sociales {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .3rem;
	display: flex;
	transition: all .5s;
}

.bi-facebook{
	background: #2E406E;
}

.bi-twitter {
	background: #339DC5;
}

.bi-github {
	background: rgb(29, 26, 26);
}

.bi-instagram {
	background: linear-gradient(blueviolet, orangered);
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
     }