#footer{
    background-color: orange;
    height: 120px;
    width: 100%;
}
#footer ul{
    list-style: none;
    padding: 5px;
    
     
}

#footer ul li{
    margin: 10px 10px;
    font-weight: bold;
    font-size: 12px;
    
}

#footer img{
    display: none;
}


